body {
	width:1200px;
	padding:80px;
	margin:80px;
	margin-left: 90px;
	background-image: url("495.jpg");
}

.jumbotron {
	box-shadow: 0 3px 8px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;
	opacity: 0.9;
}

.jumbotron:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.075), 0 0 15px rgba(102, 175, 233, 0.6);
	opacity: 0.9;
}